


# ------------------------------
# Data files to ignore
# ------------------------------
# CSV, TXT, OUT files
*.csv
*.txt
*.out
*.png
*_old.py
old
*profile.inc

# directories
*script_no_used
*CANYON_MED_NO_QC*
